
.button-back {
        position: absolute;
        top: 25px;
        left: 25px;
        font-weight: 700;
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        display: inline-block;
        border-width: 2px;    
        border-color: black;
        border-style: solid;
        border-radius: 50px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 23px;
        padding-right: 23px;
        margin-bottom: 13px;
        transition: 1s ease-out;
    }
    .lesson1 a:hover{
     background-color: red;   
    }
p{
    margin-top: 200px;
    margin-left: 250px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    
    font-weight: 700;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    display: inline-block;
    border-width: 2px;    
    border-color: white;
    border-style: solid;
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;
    margin-bottom: 13px;
    transition: 1s ease-out;
}
p:hover{
    background-color: red;   
   };

.form {
    margin-top: 250px;
    margin-left: 250px;
    display: inline-block;
    
}
.container2{

    width: 600px;
    height: 300px;
    display: block;
    margin-left: 78px;
    position: relative;
}
#canvas2{
    position: absolute;
    border: 1px solid #000;
    margin-left: -1px;
    margin-top: -1px;    
}
/*
.games_title{
    font-size: 24px;
    line-height: normal;
    margin-bottom: 5px;
    margin-top: 310px;
    display: inline-block;
}
.games_title a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #000000;
    transition: 0.2s ease-out;
}
.games_title a:hover {
    color:red;
    border-color:red ;
    cursor: pointer;
}
.StartPage{
    width: 600px;
    height: 300px;
    background-image: url(../img/table.png);
    position: absolute;
}
.StartPage h2{
    color: white;
    text-align: center;
    font-family: 'Fascinate Inline';
    font-size: 45px;
    margin: 30px 0 20px 0;
}
.StartPage .play{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    width: 70px;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
    border: 1px solid #011627;
    text-align: center;
    padding: 10px;
    background-color: #011627;
    color: #FFF;
    cursor: pointer;
    transition: 100ms width ease-in;
}
.StartPage .play:hover{
    width: 110px;
}

.hide{
    display: none;
 }
 */